  .category-cards {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    .card {
      background: rgb(0, 0, 0);
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      position: relative;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: block;
      opacity: 1;
      transform: none;
    }
    .card.visible {
      opacity: 1;
      transform: translateY(0);
    }
    .card img {
      width: 100%;
      height: auto;
      display: block;
    }
    .card-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: rgb(231, 217, 217);
      background-color: black;
      padding: 12px;
    }
    .card h3 {
      margin: 0 0 5px 0;
      font-size: 16px;
    }
    .card p {
      margin: 0 0 10px 0;
      font-size: 13px;
      color: #ffffff;
    }
    .card button {
      background: white;
      color: black;
      border: none;
      padding: 6px 12px;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }
    .card button:hover {
      background: black;
      color: white;
    }

    /* Tablet */
    @media (max-width: 992px) {
      .category-cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    /* Mobile */
    @media (max-width: 576px) {
      .category-cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }